@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
  margin: 0;

}

#nav {
  width:100%;
  height: 90px;
  box-shadow: 0 0 10px green;
  display: grid;
  grid-template-columns: 30% 50% 20% ;
}

#brand{
  display: flex;
  justify-content: center;
  align-items: center;

}
#brand h1{
  font-size: 52px;
  color: darkgreen;
}
#menus {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menus a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 17px;
}
#icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
} 
#icons i{
  font-size: 27px;
}